.DS_Store
__pycache__/file_display.cpython-313.pyc
__pycache__/sidebar.cpython-313.pyc
__pycache__/toolbar.cpython-313.pyc
__pycache__/details_view.cpython-313.pyc
__pycache__/notebook.cpython-313.pyc
nsNotebook/__pycache__/__init__.cpython-313.pyc
__pycache__/sidebar.cpython-312.pyc
nsNotebook/__pycache__/notebook.cpython-312.pyc
nsNotebook/__pycache__/__init__.cpython-312.pyc
__pycache__/file_display.cpython-312.pyc
__pycache__/details_view.cpython-312.pyc
nsNotebook/__pycache__/notebook.cpython-313.pyc
__pycache__/details_view.cpython-313 (Robert’s MacBook Air's conflicted copy 2025-07-24).pyc
dirscans/*.json

__pycache__/foldersize_actions.cpython-313.pyc
__pycache__/details_view.cpython-311.pyc
__pycache__/sidebar.cpython-311.pyc
__pycache__/toolbar.cpython-311.pyc
dirscans/output.db
nsNotebook/__pycache__/notebook.cpython-311.pyc
nsNotebook/__pycache__/__init__.cpython-311.pyc
__pycache__/file_display.cpython-311.pyc
__pycache__/foldersize_actions.cpython-311.pyc
dirscans/*.sqlite3
aiAssistant/config.dat
BR200.sqlite3
