.DS_Store
__pycache__/file_display.cpython-313.pyc
__pycache__/sidebar.cpython-313.pyc
__pycache__/toolbar.cpython-313.pyc
__pycache__/details_view.cpython-313.pyc
nsNotebook/__init__.py


nsNotebook/__pycache__/__init__.cpython-313.pyc
.gitignore
